.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  position: absolute;
  right: 2.4rem;
  top: 0.8rem;
}

.cross {
  cursor: pointer;
  position: absolute;
  right: 2.3rem;
  top: 0.8rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #1a1f28;

  &:hover {
    color: whitesmoke;
  }
}
